name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Docker
      uses: docker/setup-docker-action@v4
    - name: Download images
      run: docker compose pull ; docker build .
    - name: selenium
      id: selenium
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: selenium
        setup-command: cd .test ; npm install
        command: cd .test ; npm test
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        SELENIUM_RESULTS: "${{steps.selenium.outputs.result}}"
      with:
        runners: selenium
